{% extends "views/components/widgets/non-localized-text.htm" %}
{% load template_tags %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper" data-bind="let: {uid: Math.random().toString()}, class: nodeCssClasses">
    <div class="form-group" style="position: relative;">
        <div style="max-width: 600px; position: relative">
            <div class="col-xs-12" style="display:flex;flex-wrap: wrap;flex-direction: row;">
                 <input type="text" style="flex:1; max-width: 250px" data-bind="textInput: value, attr: {placeholder: placeholder, maxlength: maxLength, disabled: true}" class="form-control input-lg widget-input">
                <div class="install-buttons" style="max-height: 36px; margin-left: 5px;">
                    <button class="btn btn-shim btn-labeled btn-lg fa fa-plus btn-primary"
                            data-bind="attr: {disabled: disable},
                                        visible: !disable(),
                                        click: function(){getReportNumber()}">
                        <span>Generate Report Number</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div class="node-config-item">
    <div class="control-label">
        <span class="widget-input-label">Submission Type Node Alias</span>
    </div>
    <div class="col-xs-12" style="display:flex;flex-wrap: wrap;flex-direction: column;">
        <input type="text" style="flex:1" id="input-default-value" class="form-control input-lg widget-input"
               data-bind="textInput: submissionTypeNodeAlias,
                attr: {placeholder: 'submission_type', maxlength: 50, 'aria-label': $root.translations.defaultValue}
        ">
    </div>
</div>
<div class="node-config-item">
    <div class="control-label">
        <span class="widget-input-label">Report Type Abbreviation (2-4 letters)</span>
    </div>
    <div class="col-xs-12" style="display:flex;flex-wrap: wrap;flex-direction: column;">
        <input type="text" style="flex:1" id="input-default-value" class="form-control input-lg widget-input"
               data-bind="textInput: reportTypeAbbreviation,
                attr: {placeholder: 'AAA', minlength: 2, maxlength: 4, 'aria-label': $root.translations.defaultValue}
        ">
    </div>
</div>
{% endblock config_form %}
